# This file constraints the GTX signals

INST "gtx_inst/sfp_gtx_inst/gtx0_sfp_gtx_i/gtxe1_i" LOC = GTXE1_X0Y4;

NET "mgt_clk_p_i"           LOC = AK6; 
NET "mgt_clk_n_i"           LOC = AK5;

NET "mgt_rx_p_i<0>"         LOC = AG3;
NET "mgt_rx_n_i<0>"         LOC = AG4;
NET "mgt_tx_p_o<0>"         LOC = AH1;
NET "mgt_tx_n_o<0>"         LOC = AH2;