## External signals for Test Beam

NET "ext_clk_i" CLOCK_DEDICATED_ROUTE = FALSE;
NET "ext_clk_i" LOC = AC13;
NET "ext_trigger_i" LOC = AC12;
NET "ext_sbits_o[0]" LOC = AD12;
NET "ext_sbits_o[1]" LOC = AD11;
NET "ext_sbits_o[2]" LOC = AF11;
NET "ext_sbits_o[3]" LOC = AE11;
NET "ext_sbits_o[4]" LOC = AF15;
NET "ext_sbits_o[5]" LOC = AD15;