# This file constraints the VFAT2 signals

# The codes next to the constraints are indications relative to the schematic
# of the OptoHybrid given by Yifan. Do not remove them, they ease the pin matching process.

## Clocks

# B7
NET "vfat2_mclk_p_o[2]" LOC = AC20;
NET "vfat2_mclk_n_o[2]" LOC = AD20;

# N10
NET "vfat2_mclk_p_o[0]" LOC = J25;
NET "vfat2_mclk_n_o[0]" LOC = J24;

# M7
NET "vfat2_mclk_p_o[1]" LOC = K19;
NET "vfat2_mclk_n_o[1]" LOC = J19;

## Resets

# B15_P
NET "vfat2_resb_o[2]" LOC = AC19;
# N2_N
NET "vfat2_resb_o[0]" LOC = K23;
# I12_N
NET "vfat2_resb_o[1]" LOC = H20;

# B15_N
NET "vfat2_resh_o[2]" LOC = AD19;
# N2_P
NET "vfat2_resh_o[0]" LOC = K24;
# I12_P
NET "vfat2_resh_o[1]" LOC = H19;

## T1s

# B19
NET "vfat2_t1_p_o[2]" LOC = AG20;
NET "vfat2_t1_n_o[2]" LOC = AG21;

# A19
NET "vfat2_t1_p_o[0]" LOC = L25;
NET "vfat2_t1_n_o[0]" LOC = L26;

# M3
NET "vfat2_t1_p_o[1]" LOC = K18;
NET "vfat2_t1_n_o[1]" LOC = K17;

## I2Cs

# J12_N
NET "vfat2_scl_o[5]" LOC = AC17;
# G16_N
NET "vfat2_scl_o[4]" LOC = AC27;
# I17_P
NET "vfat2_scl_o[1]" LOC = K21;
# H18_N
NET "vfat2_scl_o[2]" LOC = Y27;
# I5_N
NET "vfat2_scl_o[3]" LOC = J21;
# H20_P
NET "vfat2_scl_o[0]" LOC = W27;

# J12_P
NET "vfat2_sda_io[5]" LOC = AC18;
# G16_P
NET "vfat2_sda_io[4]" LOC = AB27;
# I17_N
NET "vfat2_sda_io[1]" LOC = K22;
# H18_P
NET "vfat2_sda_io[2]" LOC = Y28;
# I5_P
NET "vfat2_sda_io[3]" LOC = J20;
# H20_N
NET "vfat2_sda_io[0]" LOC = W26;

## DataValids

# D12
NET "vfat2_data_valid_p_i[5]" LOC = AH23;
NET "vfat2_data_valid_n_i[5]" LOC = AH24;

# G18
NET "vfat2_data_valid_p_i[4]" LOC = AA26;
NET "vfat2_data_valid_n_i[4]" LOC = AB26;

# A2
NET "vfat2_data_valid_p_i[1]" LOC = J26;
NET "vfat2_data_valid_n_i[1]" LOC = J27;

# G7
NET "vfat2_data_valid_p_i[2]" LOC = AA25;
NET "vfat2_data_valid_n_i[2]" LOC = Y26;

# M10
NET "vfat2_data_valid_p_i[3]" LOC = K16;
NET "vfat2_data_valid_n_i[3]" LOC = L16;

# H19
NET "vfat2_data_valid_p_i[0]" LOC = W25;
NET "vfat2_data_valid_n_i[0]" LOC = V25;

## VFAT2 20

# K6
NET "vfat2_20_sbits_p_i[0]" LOC = AM10;
NET "vfat2_20_sbits_n_i[0]" LOC = AL10;

# K12
NET "vfat2_20_sbits_p_i[1]" LOC = AP11;
NET "vfat2_20_sbits_n_i[1]" LOC = AP12;

# K14
NET "vfat2_20_sbits_p_i[2]" LOC = AM12;
NET "vfat2_20_sbits_n_i[2]" LOC = AN12;

# K16
NET "vfat2_20_sbits_p_i[3]" LOC = AN13;
NET "vfat2_20_sbits_n_i[3]" LOC = AM13;

# K20
NET "vfat2_20_sbits_p_i[4]" LOC = AP14;
NET "vfat2_20_sbits_n_i[4]" LOC = AN14;

# J8
NET "vfat2_20_sbits_p_i[5]" LOC = AP16;
NET "vfat2_20_sbits_n_i[5]" LOC = AP15;

# J16
NET "vfat2_20_sbits_p_i[6]" LOC = AM17;
NET "vfat2_20_sbits_n_i[6]" LOC = AM16;

# J14
NET "vfat2_20_sbits_p_i[7]" LOC = AN17;
NET "vfat2_20_sbits_n_i[7]" LOC = AP17;

# B2
NET "vfat2_20_data_out_p_i" LOC = AM18;
NET "vfat2_20_data_out_n_i" LOC = AL18;

## VFAT2 21

# B4
NET "vfat2_21_sbits_p_i[0]" LOC = AP19;
NET "vfat2_21_sbits_n_i[0]" LOC = AN18;

# B6
NET "vfat2_21_sbits_p_i[1]" LOC = AN19;
NET "vfat2_21_sbits_n_i[1]" LOC = AN20;

# B10
NET "vfat2_21_sbits_p_i[2]" LOC = AP20;
NET "vfat2_21_sbits_n_i[2]" LOC = AP21;

# B18
NET "vfat2_21_sbits_p_i[3]" LOC = AM22;
NET "vfat2_21_sbits_n_i[3]" LOC = AN22;

# B20
NET "vfat2_21_sbits_p_i[4]" LOC = AP22;
NET "vfat2_21_sbits_n_i[4]" LOC = AN23;

# B16
NET "vfat2_21_sbits_p_i[5]" LOC = AM23;
NET "vfat2_21_sbits_n_i[5]" LOC = AL23;

# D20
NET "vfat2_21_sbits_p_i[6]" LOC = AP25;
NET "vfat2_21_sbits_n_i[6]" LOC = AP24;

# D14
NET "vfat2_21_sbits_p_i[7]" LOC = AL26;
NET "vfat2_21_sbits_n_i[7]" LOC = AM26;

# D16
NET "vfat2_21_data_out_p_i" LOC = AP27;
NET "vfat2_21_data_out_n_i" LOC = AP26;

## VFAT2 22

# D8
NET "vfat2_22_sbits_p_i[0]" LOC = AN28;
NET "vfat2_22_sbits_n_i[0]" LOC = AM28;

# D6
NET "vfat2_22_sbits_p_i[1]" LOC = AN29;
NET "vfat2_22_sbits_n_i[1]" LOC = AP29;

# F9
NET "vfat2_22_sbits_p_i[2]" LOC = AN33;
NET "vfat2_22_sbits_n_i[2]" LOC = AN34;

# F18
NET "vfat2_22_sbits_p_i[3]" LOC = AN32;
NET "vfat2_22_sbits_n_i[3]" LOC = AM32;

# F17
NET "vfat2_22_sbits_p_i[4]" LOC = AM33;
NET "vfat2_22_sbits_n_i[4]" LOC = AL33;

# F7
NET "vfat2_22_sbits_p_i[5]" LOC = AL34;
NET "vfat2_22_sbits_n_i[5]" LOC = AK34;

# F15
NET "vfat2_22_sbits_p_i[6]" LOC = AK33;
NET "vfat2_22_sbits_n_i[6]" LOC = AK32;

# F5
NET "vfat2_22_sbits_p_i[7]" LOC = AJ34;
NET "vfat2_22_sbits_n_i[7]" LOC = AH34;

# F3
NET "vfat2_22_data_out_p_i" LOC = AH33;
NET "vfat2_22_data_out_n_i" LOC = AH32;

## VFAT2 23

# G17
NET "vfat2_23_sbits_p_i[0]" LOC = AG33;
NET "vfat2_23_sbits_n_i[0]" LOC = AG32;

# G9
NET "vfat2_23_sbits_p_i[1]" LOC = AE34;
NET "vfat2_23_sbits_n_i[1]" LOC = AF34;

# G15
NET "vfat2_23_sbits_p_i[2]" LOC = AD32;
NET "vfat2_23_sbits_n_i[2]" LOC = AE32;

# G3
NET "vfat2_23_sbits_p_i[3]" LOC = AD34;
NET "vfat2_23_sbits_n_i[3]" LOC = AC34;

# G5
NET "vfat2_23_sbits_p_i[4]" LOC = AC33;
NET "vfat2_23_sbits_n_i[4]" LOC = AB33;

# G1
NET "vfat2_23_sbits_p_i[5]" LOC = AA34;
NET "vfat2_23_sbits_n_i[5]" LOC = AA33;

# H15
NET "vfat2_23_sbits_p_i[6]" LOC = Y33;
NET "vfat2_23_sbits_n_i[6]" LOC = Y34;

# H11
NET "vfat2_23_sbits_p_i[7]" LOC = V34;
NET "vfat2_23_sbits_n_i[7]" LOC = W34;

# H13
NET "vfat2_23_data_out_p_i" LOC = V32;
NET "vfat2_23_data_out_n_i" LOC = V33;

## VFAT2 19

# H8
NET "vfat2_19_sbits_p_i[0]" LOC = U28;
NET "vfat2_19_sbits_n_i[0]" LOC = V29;

# H10
NET "vfat2_19_sbits_p_i[1]" LOC = V30;
NET "vfat2_19_sbits_n_i[1]" LOC = W30;

# H17
NET "vfat2_19_sbits_p_i[2]" LOC = W31;
NET "vfat2_19_sbits_n_i[2]" LOC = W32;

# H14
NET "vfat2_19_sbits_p_i[3]" LOC = Y32;
NET "vfat2_19_sbits_n_i[3]" LOC = Y31;

# G4
NET "vfat2_19_sbits_p_i[4]" LOC = AB30;
NET "vfat2_19_sbits_n_i[4]" LOC = AB31;

# G13
NET "vfat2_19_sbits_p_i[5]" LOC = AB32;
NET "vfat2_19_sbits_n_i[5]" LOC = AC32;

# G10
NET "vfat2_19_sbits_p_i[6]" LOC = AD30;
NET "vfat2_19_sbits_n_i[6]" LOC = AC30;

# G6
NET "vfat2_19_sbits_p_i[7]" LOC = AE31;
NET "vfat2_19_sbits_n_i[7]" LOC = AD31;

# G11
NET "vfat2_19_data_out_p_i" LOC = AE33;
NET "vfat2_19_data_out_n_i" LOC = AF33;

## VFAT2 18

# G19
NET "vfat2_18_sbits_p_i[0]" LOC = AG31;
NET "vfat2_18_sbits_n_i[0]" LOC = AF31;

# F8
NET "vfat2_18_sbits_p_i[1]" LOC = AH29;
NET "vfat2_18_sbits_n_i[1]" LOC = AH30;

# F13
NET "vfat2_18_sbits_p_i[2]" LOC = AJ31;
NET "vfat2_18_sbits_n_i[2]" LOC = AJ32;

# F14
NET "vfat2_18_sbits_p_i[3]" LOC = AJ29;
NET "vfat2_18_sbits_n_i[3]" LOC = AJ30;

# F16
NET "vfat2_18_sbits_p_i[4]" LOC = AL31;
NET "vfat2_18_sbits_n_i[4]" LOC = AK31;

# F20
NET "vfat2_18_sbits_p_i[5]" LOC = AL30;
NET "vfat2_18_sbits_n_i[5]" LOC = AM31;

# D2
NET "vfat2_18_sbits_p_i[6]" LOC = AN30;
NET "vfat2_18_sbits_n_i[6]" LOC = AM30;

# F19
NET "vfat2_18_sbits_p_i[7]" LOC = AP32;
NET "vfat2_18_sbits_n_i[7]" LOC = AP33;

# D4
NET "vfat2_18_data_out_p_i" LOC = AP30;
NET "vfat2_18_data_out_n_i" LOC = AP31;

## VFAT2 17

# D7
NET "vfat2_17_sbits_p_i[0]" LOC = AL28;
NET "vfat2_17_sbits_n_i[0]" LOC = AK28;

# D11
NET "vfat2_17_sbits_p_i[1]" LOC = AK27;
NET "vfat2_17_sbits_n_i[1]" LOC = AJ27;

# D10
NET "vfat2_17_sbits_p_i[2]" LOC = AN27;
NET "vfat2_17_sbits_n_i[2]" LOC = AM27;

# D13
NET "vfat2_17_sbits_p_i[3]" LOC = AK26;
NET "vfat2_17_sbits_n_i[3]" LOC = AJ26;

# D18
NET "vfat2_17_sbits_p_i[4]" LOC = AN25;
NET "vfat2_17_sbits_n_i[4]" LOC = AN24;

# D19
NET "vfat2_17_sbits_p_i[5]" LOC = AK23;
NET "vfat2_17_sbits_n_i[5]" LOC = AL24;

# B5
NET "vfat2_17_sbits_p_i[6]" LOC = AK22;
NET "vfat2_17_sbits_n_i[6]" LOC = AJ22;

# B14
NET "vfat2_17_sbits_p_i[7]" LOC = AM21;
NET "vfat2_17_sbits_n_i[7]" LOC = AL21;

# B8
NET "vfat2_17_data_out_p_i" LOC = AM20;
NET "vfat2_17_data_out_n_i" LOC = AL20;

## VFAT2 16

# B11
NET "vfat2_16_sbits_p_i[0]" LOC = AK19;
NET "vfat2_16_sbits_n_i[0]" LOC = AL19;

# J15
NET "vfat2_16_sbits_p_i[1]" LOC = AJ19;
NET "vfat2_16_sbits_n_i[1]" LOC = AH19;

# J18
NET "vfat2_16_sbits_p_i[2]" LOC = AK18;
NET "vfat2_16_sbits_n_i[2]" LOC = AK17;

# J20
NET "vfat2_16_sbits_p_i[3]" LOC = AL16;
NET "vfat2_16_sbits_n_i[3]" LOC = AK16;

# J6
NET "vfat2_16_sbits_p_i[4]" LOC = AN15;
NET "vfat2_16_sbits_n_i[4]" LOC = AM15;

# J4
NET "vfat2_16_sbits_p_i[5]" LOC = AL15;
NET "vfat2_16_sbits_n_i[5]" LOC = AL14;

# K18
NET "vfat2_16_sbits_p_i[6]" LOC = AK13;
NET "vfat2_16_sbits_n_i[6]" LOC = AL13;

# K4
NET "vfat2_16_sbits_p_i[7]" LOC = AK12;
NET "vfat2_16_sbits_n_i[7]" LOC = AJ12;

# K8
NET "vfat2_16_data_out_p_i" LOC = AL11;
NET "vfat2_16_data_out_n_i" LOC = AM11;

## VFAT2 11

# L11
NET "vfat2_11_sbits_p_i[0]" LOC = M12;
NET "vfat2_11_sbits_n_i[0]" LOC = M11;

# L5
NET "vfat2_11_sbits_p_i[1]" LOC = G12;
NET "vfat2_11_sbits_n_i[1]" LOC = H13;

# L1
NET "vfat2_11_sbits_p_i[2]" LOC = G13;
NET "vfat2_11_sbits_n_i[2]" LOC = H14;

# L9
NET "vfat2_11_sbits_p_i[3]" LOC = K14;
NET "vfat2_11_sbits_n_i[3]" LOC = J14;

# M19
NET "vfat2_11_sbits_p_i[4]" LOC = H15;
NET "vfat2_11_sbits_n_i[4]" LOC = J15;

# M13
NET "vfat2_11_sbits_p_i[5]" LOC = F16;
NET "vfat2_11_sbits_n_i[5]" LOC = G16;

# M1
NET "vfat2_11_sbits_p_i[6]" LOC = F18;
NET "vfat2_11_sbits_n_i[6]" LOC = E17;

# M9
NET "vfat2_11_sbits_p_i[7]" LOC = G18;
NET "vfat2_11_sbits_n_i[7]" LOC = H18;

# I9
NET "vfat2_11_data_out_p_i" LOC = F19;
NET "vfat2_11_data_out_n_i" LOC = F20;

## VFAT2 12

# J9
NET "vfat2_12_sbits_p_i[0]" LOC = AH17;
NET "vfat2_12_sbits_n_i[0]" LOC = AG17;

# J7
NET "vfat2_12_sbits_p_i[1]" LOC = AJ17;
NET "vfat2_12_sbits_n_i[1]" LOC = AJ16;

# J3
NET "vfat2_12_sbits_p_i[2]" LOC = AJ15;
NET "vfat2_12_sbits_n_i[2]" LOC = AH15;

# J2
NET "vfat2_12_sbits_p_i[3]" LOC = AK14;
NET "vfat2_12_sbits_n_i[3]" LOC = AJ14;

# K19
NET "vfat2_12_sbits_p_i[4]" LOC = AH13;
NET "vfat2_12_sbits_n_i[4]" LOC = AH14;

# K17
NET "vfat2_12_sbits_p_i[5]" LOC = AG12;
NET "vfat2_12_sbits_n_i[5]" LOC = AH12;

# K2
NET "vfat2_12_sbits_p_i[6]" LOC = AJ11;
NET "vfat2_12_sbits_n_i[6]" LOC = AK11;

# K7
NET "vfat2_12_sbits_p_i[7]" LOC = AG11;
NET "vfat2_12_sbits_n_i[7]" LOC = AG10;

# K9
NET "vfat2_12_data_out_p_i" LOC = AJ10;
NET "vfat2_12_data_out_n_i" LOC = AH10;

## VFAT2 10

# I11
NET "vfat2_10_sbits_p_i[0]" LOC = F21;
NET "vfat2_10_sbits_n_i[0]" LOC = G20;

# I3
NET "vfat2_10_sbits_p_i[1]" LOC = G21;
NET "vfat2_10_sbits_n_i[1]" LOC = G22;

# I15
NET "vfat2_10_sbits_p_i[2]" LOC = H22;
NET "vfat2_10_sbits_n_i[2]" LOC = J22;

# N9
NET "vfat2_10_sbits_p_i[3]" LOC = T24;
NET "vfat2_10_sbits_n_i[3]" LOC = T23;

# C2
NET "vfat2_10_sbits_p_i[4]" LOC = N25;
NET "vfat2_10_sbits_n_i[4]" LOC = M25;

# E12
NET "vfat2_10_sbits_p_i[5]" LOC = F25;
NET "vfat2_10_sbits_n_i[5]" LOC = G25;

# E16
NET "vfat2_10_sbits_p_i[6]" LOC = A30;
NET "vfat2_10_sbits_n_i[6]" LOC = B30;

# A10
NET "vfat2_10_sbits_p_i[7]" LOC = K26;
NET "vfat2_10_sbits_n_i[7]" LOC = K27;

# I19
NET "vfat2_10_data_out_p_i" LOC = L20;
NET "vfat2_10_data_out_n_i" LOC = L21;

## VFAT2 13

# D3
NET "vfat2_13_sbits_p_i[0]" LOC = AG25;
NET "vfat2_13_sbits_n_i[0]" LOC = AG26;

# D17
NET "vfat2_13_sbits_p_i[1]" LOC = AM25;
NET "vfat2_13_sbits_n_i[1]" LOC = AL25;

# D15
NET "vfat2_13_sbits_p_i[2]" LOC = AJ24;
NET "vfat2_13_sbits_n_i[2]" LOC = AK24;

# B3
NET "vfat2_13_sbits_p_i[3]" LOC = AG22;
NET "vfat2_13_sbits_n_i[3]" LOC = AH22;

# B17
NET "vfat2_13_sbits_p_i[4]" LOC = AK21;
NET "vfat2_13_sbits_n_i[4]" LOC = AJ21;

# B13
NET "vfat2_13_sbits_p_i[5]" LOC = AJ20;
NET "vfat2_13_sbits_n_i[5]" LOC = AH20;

# B9
NET "vfat2_13_sbits_p_i[6]" LOC = AF19;
NET "vfat2_13_sbits_n_i[6]" LOC = AE19;

# J13
NET "vfat2_13_sbits_p_i[7]" LOC = AH18;
NET "vfat2_13_sbits_n_i[7]" LOC = AG18;

# J19
NET "vfat2_13_data_out_p_i" LOC = AE18;
NET "vfat2_13_data_out_n_i" LOC = AF18;

## VFAT2 9

# C6
NET "vfat2_9_sbits_p_i[0]" LOC = N27;
NET "vfat2_9_sbits_n_i[0]" LOC = P27;

# C16
NET "vfat2_9_sbits_p_i[1]" LOC = R26;
NET "vfat2_9_sbits_n_i[1]" LOC = T26;

# H1
NET "vfat2_9_sbits_p_i[2]" LOC = U25;
NET "vfat2_9_sbits_n_i[2]" LOC = T25;

# E20
NET "vfat2_9_sbits_p_i[3]" LOC = B31;
NET "vfat2_9_sbits_n_i[3]" LOC = A31;

# A16
NET "vfat2_9_sbits_p_i[4]" LOC = D31;
NET "vfat2_9_sbits_n_i[4]" LOC = D32;

# E7
NET "vfat2_9_sbits_p_i[5]" LOC = G26;
NET "vfat2_9_sbits_n_i[5]" LOC = G27;

# E13
NET "vfat2_9_sbits_p_i[6]" LOC = H27;
NET "vfat2_9_sbits_n_i[6]" LOC = G28;

# E19
NET "vfat2_9_sbits_p_i[7]" LOC = H28;
NET "vfat2_9_sbits_n_i[7]" LOC = H29;

# A8
NET "vfat2_9_data_out_p_i" LOC = K28;
NET "vfat2_9_data_out_n_i" LOC = J29;

## VFAT2 14

# F10
NET "vfat2_14_sbits_p_i[0]" LOC = AG27;
NET "vfat2_14_sbits_n_i[0]" LOC = AG28;

# G20
NET "vfat2_14_sbits_p_i[1]" LOC = AB25;
NET "vfat2_14_sbits_n_i[1]" LOC = AC25;

# F1
NET "vfat2_14_sbits_p_i[2]" LOC = AD25;
NET "vfat2_14_sbits_n_i[2]" LOC = AD26;

# B1
NET "vfat2_14_sbits_p_i[3]" LOC = AE21;
NET "vfat2_14_sbits_n_i[3]" LOC = AD21;

# B12
NET "vfat2_14_sbits_p_i[4]" LOC = AF20;
NET "vfat2_14_sbits_n_i[4]" LOC = AF21;

# D9
NET "vfat2_14_sbits_p_i[5]" LOC = AH25;
NET "vfat2_14_sbits_n_i[5]" LOC = AJ25;

# D5
NET "vfat2_14_sbits_p_i[6]" LOC = AL29;
NET "vfat2_14_sbits_n_i[6]" LOC = AK29;

# D1
NET "vfat2_14_sbits_p_i[7]" LOC = AH27;
NET "vfat2_14_sbits_n_i[7]" LOC = AH28;

# F12
NET "vfat2_14_data_out_p_i" LOC = AF26;
NET "vfat2_14_data_out_n_i" LOC = AE26;

## VFAT2 8

# C12
NET "vfat2_8_sbits_p_i[0]" LOC = L29;
NET "vfat2_8_sbits_n_i[0]" LOC = L30;

# C8
NET "vfat2_8_sbits_p_i[1]" LOC = L28;
NET "vfat2_8_sbits_n_i[1]" LOC = M28;

# C4
NET "vfat2_8_sbits_p_i[2]" LOC = M26;
NET "vfat2_8_sbits_n_i[2]" LOC = M27;

# C10
NET "vfat2_8_sbits_p_i[3]" LOC = N28;
NET "vfat2_8_sbits_n_i[3]" LOC = N29;

# C20
NET "vfat2_8_sbits_p_i[4]" LOC = P29;
NET "vfat2_8_sbits_n_i[4]" LOC = R29;

# C14
NET "vfat2_8_sbits_p_i[5]" LOC = R28;
NET "vfat2_8_sbits_n_i[5]" LOC = R27;

# H2
NET "vfat2_8_sbits_p_i[6]" LOC = T28;
NET "vfat2_8_sbits_n_i[6]" LOC = T29;

# H6
NET "vfat2_8_sbits_p_i[7]" LOC = U26;
NET "vfat2_8_sbits_n_i[7]" LOC = U27;

# H12
NET "vfat2_8_data_out_p_i" LOC = V28;
NET "vfat2_8_data_out_n_i" LOC = V27;

## VFAT2 15

# H16
NET "vfat2_15_sbits_p_i[0]" LOC = W29;
NET "vfat2_15_sbits_n_i[0]" LOC = Y29;

# G8
NET "vfat2_15_sbits_p_i[1]" LOC = AA28;
NET "vfat2_15_sbits_n_i[1]" LOC = AA29;

# G2
NET "vfat2_15_sbits_p_i[2]" LOC = AA30;
NET "vfat2_15_sbits_n_i[2]" LOC = AA31;

# G14
NET "vfat2_15_sbits_p_i[3]" LOC = AB28;
NET "vfat2_15_sbits_n_i[3]" LOC = AC28;

# G12
NET "vfat2_15_sbits_p_i[4]" LOC = AD29;
NET "vfat2_15_sbits_n_i[4]" LOC = AC29;

# F2
NET "vfat2_15_sbits_p_i[5]" LOC = AE27;
NET "vfat2_15_sbits_n_i[5]" LOC = AD27;

# F4
NET "vfat2_15_sbits_p_i[6]" LOC = AE28;
NET "vfat2_15_sbits_n_i[6]" LOC = AE29;

# F11
NET "vfat2_15_sbits_p_i[7]" LOC = AF30;
NET "vfat2_15_sbits_n_i[7]" LOC = AG30;

# F6
NET "vfat2_15_data_out_p_i" LOC = AF28;
NET "vfat2_15_data_out_n_i" LOC = AF29;

## VFAT2 7

# H7
NET "vfat2_7_sbits_p_i[0]" LOC = U33;
NET "vfat2_7_sbits_n_i[0]" LOC = U32;

# H5
NET "vfat2_7_sbits_p_i[1]" LOC = T33;
NET "vfat2_7_sbits_n_i[1]" LOC = T34;

# H3
NET "vfat2_7_sbits_p_i[2]" LOC = R33;
NET "vfat2_7_sbits_n_i[2]" LOC = R34;

# C19
NET "vfat2_7_sbits_p_i[3]" LOC = N34;
NET "vfat2_7_sbits_n_i[3]" LOC = P34;

# C11
NET "vfat2_7_sbits_p_i[4]" LOC = N33;
NET "vfat2_7_sbits_n_i[4]" LOC = M33;

# C7
NET "vfat2_7_sbits_p_i[5]" LOC = L33;
NET "vfat2_7_sbits_n_i[5]" LOC = M32;

# C17
NET "vfat2_7_sbits_p_i[6]" LOC = K34;
NET "vfat2_7_sbits_n_i[6]" LOC = L34;

# A17
NET "vfat2_7_sbits_p_i[7]" LOC = K33;
NET "vfat2_7_sbits_n_i[7]" LOC = J34;

# A20
NET "vfat2_7_data_out_p_i" LOC = J31;
NET "vfat2_7_data_out_n_i" LOC = J32;

## VFAT2 6

# A15
NET "vfat2_6_sbits_p_i[0]" LOC = H34;
NET "vfat2_6_sbits_n_i[0]" LOC = H33;

# A11
NET "vfat2_6_sbits_p_i[1]" LOC = F33;
NET "vfat2_6_sbits_n_i[1]" LOC = G33;

# A13
NET "vfat2_6_sbits_p_i[2]" LOC = E34;
NET "vfat2_6_sbits_n_i[2]" LOC = F34;

# A3
NET "vfat2_6_sbits_p_i[3]" LOC = E32;
NET "vfat2_6_sbits_n_i[3]" LOC = E33;

# A9
NET "vfat2_6_sbits_p_i[4]" LOC = D34;
NET "vfat2_6_sbits_n_i[4]" LOC = C34;

# A7
NET "vfat2_6_sbits_p_i[5]" LOC = C33;
NET "vfat2_6_sbits_n_i[5]" LOC = B34;

# A5
NET "vfat2_6_sbits_p_i[6]" LOC = A33;
NET "vfat2_6_sbits_n_i[6]" LOC = B33;

# E14
NET "vfat2_6_sbits_p_i[7]" LOC = A28;
NET "vfat2_6_sbits_n_i[7]" LOC = A29;

# E10
NET "vfat2_6_data_out_p_i" LOC = C28;
NET "vfat2_6_data_out_n_i" LOC = B28;

## VFAT2 5

# E8
NET "vfat2_5_sbits_p_i[0]" LOC = B27;
NET "vfat2_5_sbits_n_i[0]" LOC = C27;

# E6
NET "vfat2_5_sbits_p_i[1]" LOC = B26;
NET "vfat2_5_sbits_n_i[1]" LOC = A26;

# E4
NET "vfat2_5_sbits_p_i[2]" LOC = B25;
NET "vfat2_5_sbits_n_i[2]" LOC = A25;

# I2
NET "vfat2_5_sbits_p_i[3]" LOC = A23;
NET "vfat2_5_sbits_n_i[3]" LOC = A24;

# I4
NET "vfat2_5_sbits_p_i[4]" LOC = B23;
NET "vfat2_5_sbits_n_i[4]" LOC = C23;

# I6
NET "vfat2_5_sbits_p_i[5]" LOC = B21;
NET "vfat2_5_sbits_n_i[5]" LOC = B22;

# I8
NET "vfat2_5_sbits_p_i[6]" LOC = A20;
NET "vfat2_5_sbits_n_i[6]" LOC = A21;

# I10
NET "vfat2_5_sbits_p_i[7]" LOC = B20;
NET "vfat2_5_sbits_n_i[7]" LOC = C19;

# I16
NET "vfat2_5_data_out_p_i" LOC = A18;
NET "vfat2_5_data_out_n_i" LOC = A19;

## VFAT2 4

# I18
NET "vfat2_4_sbits_p_i[0]" LOC = B18;
NET "vfat2_4_sbits_n_i[0]" LOC = C18;

# M6
NET "vfat2_4_sbits_p_i[1]" LOC = C17;
NET "vfat2_4_sbits_n_i[1]" LOC = B17;

# M12
NET "vfat2_4_sbits_p_i[2]" LOC = A16;
NET "vfat2_4_sbits_n_i[2]" LOC = B16;

# M20
NET "vfat2_4_sbits_p_i[3]" LOC = D15;
NET "vfat2_4_sbits_n_i[3]" LOC = C15;

# M16
NET "vfat2_4_sbits_p_i[4]" LOC = A15;
NET "vfat2_4_sbits_n_i[4]" LOC = B15;

# L2
NET "vfat2_4_sbits_p_i[5]" LOC = D14;
NET "vfat2_4_sbits_n_i[5]" LOC = C14;

# L12
NET "vfat2_4_sbits_p_i[6]" LOC = C13;
NET "vfat2_4_sbits_n_i[6]" LOC = C12;

# L20
NET "vfat2_4_sbits_p_i[7]" LOC = D11;
NET "vfat2_4_sbits_n_i[7]" LOC = E11;

# L15
NET "vfat2_4_data_out_p_i" LOC = J11;
NET "vfat2_4_data_out_n_i" LOC = J10;

## VFAT2 3

# A14
NET "vfat2_3_sbits_p_i[0]" LOC = J30;
NET "vfat2_3_sbits_n_i[0]" LOC = K29;

# C3
NET "vfat2_3_sbits_p_i[1]" LOC = K32;
NET "vfat2_3_sbits_n_i[1]" LOC = K31;

# C1
NET "vfat2_3_sbits_p_i[2]" LOC = M31;
NET "vfat2_3_sbits_n_i[2]" LOC = L31;

# C18
NET "vfat2_3_sbits_p_i[3]" LOC = M30;
NET "vfat2_3_sbits_n_i[3]" LOC = N30;

# C9
NET "vfat2_3_sbits_p_i[4]" LOC = N32;
NET "vfat2_3_sbits_n_i[4]" LOC = P32;

# C5
NET "vfat2_3_sbits_p_i[5]" LOC = P31;
NET "vfat2_3_sbits_n_i[5]" LOC = P30;

# C15
NET "vfat2_3_sbits_p_i[6]" LOC = R31;
NET "vfat2_3_sbits_n_i[6]" LOC = R32;

# H4
NET "vfat2_3_sbits_p_i[7]" LOC = T30;
NET "vfat2_3_sbits_n_i[7]" LOC = T31;

# H9
NET "vfat2_3_data_out_p_i" LOC = U31;
NET "vfat2_3_data_out_n_i" LOC = U30;

## VFAT2 2

# E15
NET "vfat2_2_sbits_p_i[0]" LOC = F28;
NET "vfat2_2_sbits_n_i[0]" LOC = E28;

# E11
NET "vfat2_2_sbits_p_i[1]" LOC = C29;
NET "vfat2_2_sbits_n_i[1]" LOC = D29;

# A1
NET "vfat2_2_sbits_p_i[2]" LOC = C32;
NET "vfat2_2_sbits_n_i[2]" LOC = B32;

# E18
NET "vfat2_2_sbits_p_i[3]" LOC = C30;
NET "vfat2_2_sbits_n_i[3]" LOC = D30;

# E17
NET "vfat2_2_sbits_p_i[4]" LOC = E29;
NET "vfat2_2_sbits_n_i[4]" LOC = F29;

# A12
NET "vfat2_2_sbits_p_i[5]" LOC = F31;
NET "vfat2_2_sbits_n_i[5]" LOC = E31;

# A4
NET "vfat2_2_sbits_p_i[6]" LOC = F30;
NET "vfat2_2_sbits_n_i[6]" LOC = G30;

# A18
NET "vfat2_2_sbits_p_i[7]" LOC = G32;
NET "vfat2_2_sbits_n_i[7]" LOC = H32;

# A6
NET "vfat2_2_data_out_p_i" LOC = G31;
NET "vfat2_2_data_out_n_i" LOC = H30;

## VFAT2 1

# I1
NET "vfat2_1_sbits_p_i[0]" LOC = C20;
NET "vfat2_1_sbits_n_i[0]" LOC = D20;

# I13
NET "vfat2_1_sbits_p_i[1]" LOC = D21;
NET "vfat2_1_sbits_n_i[1]" LOC = E21;

# I20
NET "vfat2_1_sbits_p_i[2]" LOC = C22;
NET "vfat2_1_sbits_n_i[2]" LOC = D22;

# I7
NET "vfat2_1_sbits_p_i[3]" LOC = E22;
NET "vfat2_1_sbits_n_i[3]" LOC = E23;

# E9
NET "vfat2_1_sbits_p_i[4]" LOC = D24;
NET "vfat2_1_sbits_n_i[4]" LOC = E24;

# E2
NET "vfat2_1_sbits_p_i[5]" LOC = C24;
NET "vfat2_1_sbits_n_i[5]" LOC = C25;

# E1
NET "vfat2_1_sbits_p_i[6]" LOC = D25;
NET "vfat2_1_sbits_n_i[6]" LOC = D26;

# E3
NET "vfat2_1_sbits_p_i[7]" LOC = E26;
NET "vfat2_1_sbits_n_i[7]" LOC = F26;

# E5
NET "vfat2_1_data_out_p_i" LOC = D27;
NET "vfat2_1_data_out_n_i" LOC = E27;

## VFAT2 0

# L17
NET "vfat2_0_sbits_p_i[0]" LOC = K11;
NET "vfat2_0_sbits_n_i[0]" LOC = L11;

# L3
NET "vfat2_0_sbits_p_i[1]" LOC = G11;
NET "vfat2_0_sbits_n_i[1]" LOC = F11;

# L18
NET "vfat2_0_sbits_p_i[2]" LOC = D12;
NET "vfat2_0_sbits_n_i[2]" LOC = E12;

# L16
NET "vfat2_0_sbits_p_i[3]" LOC = E13;
NET "vfat2_0_sbits_n_i[3]" LOC = F13;

# L6
NET "vfat2_0_sbits_p_i[4]" LOC = F14;
NET "vfat2_0_sbits_n_i[4]" LOC = E14;

# M17
NET "vfat2_0_sbits_p_i[5]" LOC = G15;
NET "vfat2_0_sbits_n_i[5]" LOC = F15;

# M14
NET "vfat2_0_sbits_p_i[6]" LOC = E16;
NET "vfat2_0_sbits_n_i[6]" LOC = D16;

# M2
NET "vfat2_0_sbits_p_i[7]" LOC = E18;
NET "vfat2_0_sbits_n_i[7]" LOC = D17;

# I14
NET "vfat2_0_data_out_p_i" LOC = E19;
NET "vfat2_0_data_out_n_i" LOC = D19;
